* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    position: relative;
  }
  .nav img {
    width: 40px;
    height: 40px;
  }
  .logo-text span {
    color: green;
  }
  .logo-text {
    font-size: 20px;
  }
  .nav {
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
  }
  .nav-right {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 10px;
  }
  .nav-left {
    padding-top: 15px;
  }
  .nav-option {
    display: none;
  }
  /* .big-img img{
        
        height: calc(100vh - 60px);
      } */
  .about {
    background-color: green;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
    color: white;
    position: absolute;
    width: 100%;
    top: 50px;
  }
  .about-text1 {
    font-size: 20px;
    font-weight: 400;
  }
  .big-img img {
    width: 100%;
    height: calc(100vh - 60px);
  }
  
  /* --------------------------------------------about & nav------------------------------- */
  
  /* ---------------------------------------------------Adress----------------------- */
  .Address {
    margin: 40px 20px;
    width: 80%;
    display: flex;
    /* box-shadow: 15px 10px 10px gray; */
    flex-direction: column;
    align-items: flex-start;
    background-color: whitesmoke;
    gap: 20px;
    padding: 30px 0;
    padding-left: 40px;
    margin-left: 36px;
    margin-right: 60px;
    border: 1px solid;
  }
  .A {
    display: flex;
    gap: 20px;
  }
  .Linfo {
    color: black;
    font-size: 20px;
    font-weight: 800;
  }
  
  /* ----------------------------------------form---------------------------------- */
  .Maincontent {
    padding: 0 30px;
    margin-bottom: 40px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px 0;
    margin: 10px 10px;
    /* box-shadow: 15px 10px 10px gray; */
    font-size: 30px;
    color: black;
    font-weight: 900;
    border: 1px solid black;
  }
  .name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
  }
  .name input {
    height: 30px;
    width: 80%;
    border: 1px solid;
  }
  .subject {
    width: 100%;
    padding-left: 48px;
  }
  .subject input {
    width: 89%;
    border: 1px solid;
  }
  .message {
    width: 100%;
    padding-left: 48px;
  }
  .message textarea {
    width: 89%;
    border: 1px solid;
  }
  
  /* -----------------------------------------footer------------------------- */
  .footer {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .company {
    font-size: 25px;
    font-weight: 600;
  }
  .links {
    font-size: 20px;
    font-weight: 600;
  }
  .our-services {
    font-size: 20px;
    font-weight: 600;
  }
  /* ------------------------------------------------------ */
  .Ticket{
    height: 40vh;
    display: flex;
    flex-direction: column;
  gap: 20px;
  align-items:center;
  justify-content: space-evenly;

  margin: 40px;
 
    
  }
  .Ticket .top{
    padding-top: 20px;
  width: 100%;
  text-align: center;
  height: 60px;
  background-color:whitesmoke;
  box-shadow: 2px 2px 2px grey;
  font-size: 20px;
  font-weight: 900;
  }
  .Ticket .mid{
    
    background-color:whitesmoke;
    width: 100%;
    text-align: center;
    height: 60px;
    box-shadow: 2px 2px 2px grey;
   padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
  }
  .Ticket .bottom{
    box-shadow: 2px 2px 2px grey;
    width: 100%;
    text-align: center;
    height: 60px;
    background-color:whitesmoke;
    padding-top: 20px;
    
  }
  @media (min-width: 768px) {
    .bar {
      display: none;
    }
    .nav {
      padding-left: 40px;
      padding-right: 40px;
    }
    .nav-option {
      display: flex;
      gap: 15px;
      padding-right: 20px;
    }
    .nav-option a {
      color: black;
      text-decoration: none;
    }
    .logo-text {
      padding-left: 10px;
    }
    .nav-option span {
      color: green;
    }
    /* .big-img img{
          width: 100%;
          height: calc(100vh - 60px);
        } */
    .about {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-right: 58px;
      padding-left: 60px;
      color: white;
    }
    /* ------------------------------------------About-End-------------------------- */
    
  
    /* -------------------------footer-----------------------
          */
    .footer {
      width: 100%;
      flex-direction: row;
    }
    .f1 {
      width: 30%;
    }
  
    /* ----------------------------Ticket------------------------------------ */
    
    .Ticket{
       margin: 150px 500px;
    }
    
  }
  