* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  position: relative;
}
.nav img {
  width: 40px;
  height: 40px;
}
.logo-text span {
  color: green;
}
.logo-text {
  font-size: 20px;
}
.nav {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  width: 100%;
}
.nav-right {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 10px;
}
.nav-left {
  padding-top: 15px;
}
.nav-option {
  display: none;
}
/* .big-img img{
    
    height: calc(100vh - 60px);
  } */
.about {
  background-color: green;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
  color: white;
  position: absolute;
  width: 100%;
  top: 50px;
}
.about-text1 {
  font-size: 20px;
  font-weight: 400;
}
.big-img img {
  width: 100%;
  height: calc(100vh - 60px);
}

/* --------------------------------------------about & nav------------------------------- */
.par {
  display: none;
}
.page-info {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.we-are {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
}
.code-clause {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
}
.par1 {
  line-height: 25px;
  font-weight: 600;
}
.par2 {
  line-height: 25px;
}
.par3 {
  font-style: italic;
  word-spacing: 1px;
}
/* --------------------------------------------------page-info-------------------------- */

.footer {
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.company {
  font-size: 25px;
  font-weight: 600;
}
.links {
  font-size: 20px;
  font-weight: 600;
}
.our-services {
  font-size: 20px;
  font-weight: 600;
}
/* -----------------------------------------footer------------------------- */
.footer {
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.company {
  font-size: 25px;
  font-weight: 600;
}
.links {
  font-size: 20px;
  font-weight: 600;
}
.our-services {
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .bar {
    display: none;
  }
  .nav {
    padding-left: 40px;
    padding-right: 40px;
  }
  .nav-option {
    display: flex;
    gap: 15px;
    padding-right: 20px;
  }
  .nav-option a {
    color: black;
    text-decoration: none;
  }
  .logo-text {
    padding-left: 10px;
  }
  .nav-option span {
    color: green;
  }
  /* .big-img img{
      width: 100%;
      height: calc(100vh - 60px);
    } */
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 58px;
    padding-left: 60px;
    color: white;
  }
  .page-info {
    flex-direction: row;
    justify-content: center;
  }
  .left-info {
    padding-right: 300px;
    padding-left: 200px;
  }
  .right-info {
    padding-right: 200px;
  }
  .par {
    line-height: 25px;
    font-weight: 600;
    display: contents;
  }
  /* -------------------------footer-----------------------
      */
  .footer {
    width: 100%;
    flex-direction: row;
  }
  .f1 {
    width: 30%;
  }
}
